//Copyright (C)2014-2021 Gowin Semiconductor Corporation.
//All rights reserved. 
//File Title: Physical Constraints file
//GOWIN Version: 1.9.8.01
//Part Number: GW1NR-LV9QN88PC6/I5
//Device: GW1NR-9C
//Created Time: Thu 03 03 19:24:24 2022

// System functions
IO_LOC "iClk" 52;
IO_PORT "iClk" IO_TYPE=LVCMOS33 PULL_MODE=UP;

// Buttons (active low)
IO_LOC "btn1" 3;
IO_PORT "btn1" IO_TYPE=LVCMOS18;
IO_LOC "btn2" 4;
IO_PORT "btn2" IO_TYPE=LVCMOS18;

// LED (active low)
IO_LOC "led[5]" 16;
IO_PORT "led[5]" PULL_MODE=UP;
IO_LOC "led[4]" 15;
IO_PORT "led[4]" PULL_MODE=UP;
IO_LOC "led[3]" 14;
IO_PORT "led[3]" PULL_MODE=UP;
IO_LOC "led[2]" 13;
IO_PORT "led[2]" PULL_MODE=UP;
IO_LOC "led[1]" 11;
IO_PORT "led[1]" PULL_MODE=UP;
IO_LOC "led[0]" 10;
IO_PORT "led[0]" PULL_MODE=UP;

// HDMI
IO_LOC "tmdsDataP[0]" 71;
IO_PORT "tmdsDataP[0]" PULL_MODE=NONE DRIVE=8;
IO_LOC "tmdsDataN[0]" 70;
IO_PORT "tmdsDataN[0]" PULL_MODE=NONE DRIVE=8;
IO_LOC "tmdsDataP[1]" 73;
IO_PORT "tmdsDataP[1]" PULL_MODE=NONE DRIVE=8;
IO_LOC "tmdsDataN[1]" 72;
IO_PORT "tmdsDataN[1]" PULL_MODE=NONE DRIVE=8;
IO_LOC "tmdsDataP[2]" 75;
IO_PORT "tmdsDataP[2]" PULL_MODE=NONE DRIVE=8;
IO_LOC "tmdsDataN[2]" 74;
IO_PORT "tmdsDataN[2]" PULL_MODE=NONE DRIVE=8;
IO_LOC "tmdsClkP" 69;
IO_PORT "tmdsClkP" PULL_MODE=NONE DRIVE=8;
IO_LOC "tmdsClkN" 68;
IO_PORT "tmdsClkN" PULL_MODE=NONE DRIVE=8;

// UART
IO_LOC "uartTx" 17;
IO_PORT "uartTx" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8;
IO_LOC "uartRx" 18;
IO_PORT "uartRx" IO_TYPE=LVCMOS33 PULL_MODE=UP;

// TF card
IO_LOC "tfClk" 36;
IO_PORT "tfClk" IO_TYPE=LVCMOS33 PULL_MODE=DOWN DRIVE=8;
IO_LOC "tfMosi" 37;
IO_PORT "tfMosi" IO_TYPE=LVCMOS33 PULL_MODE=DOWN DRIVE=8;
IO_LOC "tfCs" 38;
IO_PORT "tfCs" IO_TYPE=LVCMOS33 PULL_MODE=DOWN DRIVE=8;
IO_LOC "tfMiso" 39;
IO_PORT "tfMiso" IO_TYPE=LVCMOS33 PULL_MODE=DOWN;

// SPI Flash memory
IO_LOC "flashClk" 59;
IO_PORT "flashClk" IO_TYPE=LVCMOS33;
IO_LOC "flashCs" 60;
IO_PORT "flashCs" IO_TYPE=LVCMOS33;
IO_LOC "flashMosi" 61;
IO_PORT "flashMosi" IO_TYPE=LVCMOS33;
IO_LOC "flashMiso" 62;
IO_PORT "flashMiso" IO_TYPE=LVCMOS33;

// Connector pins (3.3V) (unused elsewhere)
IO_LOC "pin25" 25;
IO_PORT "pin25" IO_TYPE=LVCMOS33;
IO_LOC "pin26" 26;
IO_PORT "pin26" IO_TYPE=LVCMOS33;
IO_LOC "pin27" 27;
IO_PORT "pin27" IO_TYPE=LVCMOS33;
IO_LOC "pin28" 28;
IO_PORT "pin28" IO_TYPE=LVCMOS33;
IO_LOC "pin29" 29;
IO_PORT "pin29" IO_TYPE=LVCMOS33;
IO_LOC "pin30" 30;
IO_PORT "pin30" IO_TYPE=LVCMOS33;
IO_LOC "pin33" 33;
IO_PORT "pin33" IO_TYPE=LVCMOS33;
IO_LOC "pin34" 34;
IO_PORT "pin34" IO_TYPE=LVCMOS33;
IO_LOC "pin40" 40;
IO_PORT "pin40" IO_TYPE=LVCMOS33;
IO_LOC "pin35" 35;
IO_PORT "pin35" IO_TYPE=LVCMOS33;
IO_LOC "pin41" 41;
IO_PORT "pin41" IO_TYPE=LVCMOS33;
IO_LOC "pin42" 42;
IO_PORT "pin42" IO_TYPE=LVCMOS33;
IO_LOC "pin51" 51;
IO_PORT "pin51" IO_TYPE=LVCMOS33;
IO_LOC "pin53" 53;
IO_PORT "pin53" IO_TYPE=LVCMOS33;
IO_LOC "pin54" 54;
IO_PORT "pin54" IO_TYPE=LVCMOS33;
IO_LOC "pin55" 55;
IO_PORT "pin55" IO_TYPE=LVCMOS33;
IO_LOC "pin56" 56;
IO_PORT "pin56" IO_TYPE=LVCMOS33;
IO_LOC "pin57" 57;
IO_PORT "pin57" IO_TYPE=LVCMOS33;

IO_LOC "pin31" 31;
IO_PORT "pin31" IO_TYPE=LVCMOS33;
IO_LOC "pin32" 32;
IO_PORT "pin32" IO_TYPE=LVCMOS33;
IO_LOC "pin49" 49;
IO_PORT "pin49" IO_TYPE=LVCMOS33;
IO_LOC "pin48" 48;
IO_PORT "pin48" IO_TYPE=LVCMOS33;

IO_LOC "pin76" 76;
IO_PORT "pin76" IO_TYPE=LVCMOS33;
IO_LOC "pin77" 77;
IO_PORT "pin77" IO_TYPE=LVCMOS33;

IO_LOC "pin63" 63;
IO_PORT "pin63" IO_TYPE=LVCMOS33;
